html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

header {
  height: 14vh;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
}

header img {
  display: block;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 1rem;
  font-size: 14pt;
  text-decoration: none;
  color: #333333;
  transition-duration: 0.4s;
}

nav a:hover {
  color: #50ade1;
  transition-duration: 0.4s;
}

/* Slideshow container */
#slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-height: 93vh;
  overflow: hidden;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotContainer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  overflow: hidden;
}

.active {
  background-color: #717171;
}

h2 {
  font-size: 28pt;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 17pt;
  font-weight: 700;
  margin-bottom: 1rem;
}

h4 {
  font-size: 13pt;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-size: 13pt;
}

.titleDescription {
  font-size: 13pt;
}

.aboutGrid, .teamGrid, .portfolioButtons {
  margin-top: 3rem;
}

.portfolioButtons {
  margin-bottom: 3rem;
}

button {
  background-color: white;
  border: none;
  color: #717171;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-size: 12pt;
  margin: 1rem;
  outline: none;
  cursor: pointer;
}

.selectedButton {
  color: black;
}

#about, #portfolio, #team {
  padding-left: 3rem;
  padding-right: 3rem;
}

.portfolioItem img {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.portfolioItem div {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

.aboutGrid div {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.footerText {
  font-size: 1.2rem;
  text-align: center;
}

footer {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {

  header {
    height: 7vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
  }
  
  header img {
    height: 100%;
    width: auto;
    display: inline;
    margin-left: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #333333;
    transition-duration: 0.4s;
  }

  .aboutGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10vw;
    row-gap: 10rem;
  }

  .teamGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10vw;
    row-gap: 10rem;
  }

  .portfolioItem {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10vw;
    row-gap: 10rem;
  }

  .portfolioButtons {
    margin-bottom: 5rem;
  }

  .aboutGrid div {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  #about, #portfolio, #team {
    text-align: left;
    padding-top: 10rem;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  h2 {
    font-size: 48pt;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  h3 {
    font-size: 17pt;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  h4 {
    font-size: 13pt;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 13pt;
    line-height: 22pt;
  }
  
  .titleDescription {
    font-size: 13pt;
  }

  .portfolioButtons {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  #team {
    padding-bottom: 15rem;
  }

}